<%= form_for(@user, url: password_reset_path, method: :patch) do |f| %>
  <div class="grid gap-2">
    <div class="grid gap-1">
      <div class="grid gap-1">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, placeholder: "Your password...",
                                      autocomplete: "current-password" %>
      </div>
      <div class="grid gap-1">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password...",
                                      autocomplete: "current-password" %>
      </div>
      <%= f.submit "Reset Password" %>
    </div>
  </div>
<% end %>
