<!DOCTYPE html>
<html>
  <head>
    <title>The Best Blog Ever</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/notice" %>

    <%= render "shared/header" %>

    <main class="min-h-screen mt-28 px-8 w-full">
      <%= yield %>
    </main>

  </body>
</html>
